Chat/nb-configuration.xml
Chat/.settings
Chat/.project
Chat/.classpath
Chat/target
Chat/bin
Chat/Tests/.settings
Chat/Tests/.project
Chat/Tests/.classpath
Chat/Tests/target
Chat/Tests/bin
Chat/Database/.settings
Chat/Database/.project
Chat/Database/.classpath
Chat/Database/target
Chat/Database/bin
Chat/Network/.settings
Chat/Network/.project
Chat/Network/.classpath
Chat/Network/target
Chat/NetworkReceiver/bin
Chat/NetworkReceiver/.settings
Chat/NetworkReceiver/.project
Chat/NetworkReceiver/.classpath
Chat/NetworkReceiver/target
Chat/NetworkReceiver/bin
Chat/Gui/.settings
Chat/Gui/.project
Chat/Gui/.classpath
Chat/Gui/target
Chat/Gui/bin
Chat/Security/.settings
Chat/Security/.project
Chat/Security/.classpath
Chat/Security/target
Chat/Security/bin
Chat/Xml/.settings
Chat/Xml/.project
Chat/Xml/.classpath
Chat/Xml/target
Chat/Xml/bin
Chat/Database/src/main/resources/mysql.properties
