#profileButton{
-fx-graphic: url("dashboard/profile.png");
}
.groupButton{
-fx-graphic: url("dashboard/group.png");
}
.addFriendButton{
-fx-graphic: url("dashboard/addFriends.png");
}
.requestsNotificationButton{
-fx-graphic: url("dashboard/addFriendN.png");
}
.changeStatuesButton{
-fx-graphic: url("dashboard/changeStatus.png");
}
.signOutButton{
-fx-graphic: url("dashboard/signOut.png");
}
.notificationStatuesButton{
-fx-graphic: url("dashboard/notificationStatus.png");
}